@import url('demo.css');
@import url('font-awesome.css');

/* GLOBALS */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
body {
   font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    background: #ddd url(../images/blurred.jpg) repeat top left;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
}
#new colorlink{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #ddd;
    column-span: all;
    color: #f7def7;
       

}
a.colorlink{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #ddd;
    column-span: all;
    font-size: 20px;
    text-decoration: none; /*me saca el subrayado*/
    

}
#tematicaLink colorlink{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #ddd;
    column-span: all;
    font-size: 20px;
    text-decoration: none; /*me saca el subrayado*/

}
h2{
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 30 px;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;

}

h1{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #ddd;
    font-size: 30 px;
    text-transform: initial;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;

}
#div {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

#tematica{
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    /* Size and position */
    width: 300px;
    position: static;
    margin: 100px auto 50px;
    padding: 10px;
    overflow: hidden;/* Styles */
    background: #111; 
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: 
        inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);

}
#tematica h1{
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    
}
#tematica input[type="Nombre"]{
    /* Size and position */
    width: 50%;
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    font-size: 12px;

    /* Styles */
    background: linear-gradient(#1f2124, #27292c);    
    border: 1px solid #000;
    box-shadow:0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;

    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #ddd;


}


#tematica input [type=Crear]{
    /* Width and position */
    width: 100%;
    padding: 8px 5px;
   
    /* Styles */
    border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #38a6f0;
    cursor:pointer;
   
    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}


.no-boxshadow #tematica input[type=Crear]:hover {
    background: #2a92d8;
}



#login{
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    /* Size and position */
    width: 300px;
    position: relative;
    margin: 60px auto 30px;
    padding: 10px;
    overflow: hidden;
    alignment-adjust: middle;

    /* Styles */
    background: #111; 
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: 
        inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
      

}



#login label {
    /* Size and position */
    width: 50%;
    float: left;
    padding-top: 9px;

    /* Styles */
    color: #ddd;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
}

#login input[type="text"],
#login input[type="password"] {
    /* Size and position */
    width: 50%;
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    font-size: 12px;

    /* Styles */
    background: linear-gradient(#1f2124, #27292c);    
    border: 1px solid #000;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;

    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;

}

#login input[type="text"]:hover,
#login input[type="password"]:hover,
#login label:hover ~ input[type=text],
#login label :hover ~ input[type=password] {
    background: #27292c;
}

#login input[type="text"]:focus, 
#login input[type="password"]:focus {
    box-shadow: inset 0 0 2px #000;
    background: #494d54;
    border-color: #51cbee;
    outline: none; /* Remove Chrome outline */
}

#login p:nth-child(3),
#login p:nth-child(4) {
    float: left;
    width: 50%;
}

#login input[type=Submit] {
    /* Width and position */
    width: 100%;
    padding: 8px 5px;
   
    /* Styles */
    border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #38a6f0;
    cursor:pointer;
   
    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

#login input[type=Submit]:hover { 
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}

#login input[type=Submit]:active { 
    background: #287db5;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000; /* Fallback */
    border-color: rgba(0,0,0,0.9);
}

.no-boxshadow #login input[type=Submit]:hover {
    background: #2a92d8;
}

/* Gradient line */
#login:after {
    /* Size and position */
    content: "";
    height: 1px;
    width: 33%;
    position: absolute;
    left: 20%;
    top: 0;
 
    /* Styles */
    background: linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
}
 
/* Small flash */
#login:before {
    /* Size and position */
    content: "";
    width: 8px;
    height: 5px;
    position: absolute;
    left: 34%;
    top: -7px;
     
    /* Styles */
    border-radius: 50%;
    box-shadow: 0 0 6px 4px #fff;
}

#login p:nth-child(1):before{
    /* Size and position */
    content: "";
    width: 250px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 45px;
 
    /* Styles */
    transform: rotate(75deg);
    background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    pointer-events: none;
}

.no-pointerevents #login p:nth-child(1):before {
    display: none;
}

/* Demo Buttons Style */
.codrops-demos {
    text-align:center;
	display: block;
	line-height: 30px;
	padding: 5px 0px;
}

.codrops-demos a {
    display: inline-block;
	margin: 0px 4px;
	padding: 0px 6px;
	color: #8c8c8c;
	line-height: 20px;	
	font-size: 12px;
	font-weight: 700;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #fff;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.codrops-demos a:hover {
	color: #333;
	background: #fff;
}

.codrops-demos a:active {
	background: #fff;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	background: #555;
	border-color: #555;
	color: #ddd;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.5);
}

.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
}
/* tabla */
#ElementosInteractivos{
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    /* Size and position */
    width: 500px;
    position: relative;
    margin: 100px auto 100px;
    padding: 50px;
    overflow: hidden;
    alignment-adjust: middle;

    /* Styles */
    background: #111; 
    border-radius: 0.4em;
    border: 5px solid #191919;
    box-shadow: 
        inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
    -webkit-column-gap: 40pxl;
    
}
#ElementosInteractivos input {
    /* Width and position */
    width: 100%;
    padding: 8px 5px;
   
    /* Styles */
    border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #38a6f0;
    cursor:pointer;
   
    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

#TematicasExistentes {
      font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    /* Size and position */
    width: 500px;
    position: relative;
    margin: 100px auto 100px;
    padding: 50px;
    overflow: hidden;
    alignment-adjust: middle;

    /* Styles */
    background: #111; 
    border-radius: 0.4em;
    border: 5px solid #191919;
    box-shadow: 
        inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
    -webkit-column-gap: 40pxl;
}

#TematicasExistentes input {
    display:block;
    float:left;
    margin:7px 7px 7px 7px;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin:7px 7px 7px 7px;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}

#tematica input {
    display:block;
    float:left;
    margin:7px 7px 7px 7px;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin:7px 7px 7px 7px;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
#ElementosInteractivosCreate{
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    /* Size and position */
    width: 500px;
    position: relative;
    margin: 100px auto 100px;
    padding: 50px;
    overflow: hidden;
    alignment-adjust: middle;

    /* Styles */
    background: #111; 
    border-radius: 0.4em;
    border: 5px solid #191919;
    box-shadow: 
        inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
    -webkit-column-gap: 40pxl;
    
}

#ElementosInteractivosCreate input {
    display:block;
    float:left;
    margin:7px 7px 7px 7px;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin:7px 7px 7px 7px;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}

#UsuariosExistentes{
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    /* Size and position */
    width: 500px;
    position: relative;
    margin: 100px auto 100px;
    padding: 50px;
    overflow: hidden;
    alignment-adjust: middle;

    /* Styles */
    background: #111; 
    border-radius: 0.4em;
    border: 5px solid #191919;
    box-shadow: 
        inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
    -webkit-column-gap: 40pxl;
    
}

#UsuariosExistentes input {
    display:block;
    float:left;
    margin:7px 7px 7px 7px;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin:7px 7px 7px 7px;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}

#Registrar {
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    /* Size and position */
    width: 700px;
    position: relative;
    margin: 100px auto 300px;
    padding: 50px;
    overflow: hidden;
    alignment-adjust: middle;
    

    /* Styles */
    background: #111; 
    border-radius: 0.4em;
    border: 5px solid #191919;
    box-shadow: 
        inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
    -webkit-column-gap: 40pxl;
    
    
    
}

#Registrar input {
    
    margin:10px 10px 10px 10px;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
       

    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin:7px 7px 7px 7px;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
       
}

